<!-- This is the homepage of the club website -->
<!-- load the navigation -->
{{extend 'my_layout.html'}}

<!--                     -->
{{block head}}
 
  {{response.files.append(URL('static', 'css/index.css'))}}
  {{include 'web2py_ajax.html'}}
{{end}}

<!-- code after navigation -->
{{block body}}

<div id="body_container">
  <div id="post">
    <img id="image_homepage" src="{{=URL(r=request,c='static/images',f='UCSC_Club_Sectionals.jpg')}}"/>
  </div>

  <div id="tournaments">
    <div id="tournament_title">
      <p id="tournament_text">Tournaments Fall 2013</p>
    </div>   
    <img id="tournament_image" src="{{=URL(r=request,c='static/images',f='TOC_Tournament_Scheadule.png')}}"/>
  </div>
  
 
  
</div>
<div id="welcome_text">
    <h2>Welcome to the UCSC Tennis Club</h2>
    <p>Do you love to compete?  The UCSC Tennis Club is an oppurtunity for intermediate and advanced level students to engage with other universities across California, while playing competitive tennis.  The club is open to all UCSC students who are willing to practice during the weekdays and compete on the weekends.  So if you like to have fun, enjoy meeting new people, and love to play tennis, then you should send us an email!</p>
  </div>
{{end}}