<!-- This is the homepage of the club website -->
<!-- load the navigation -->
{{extend 'my_layout.html'}}

<!--                     -->
{{block head}}
  {{response.files.append(URL('static', 'css/index.css'))}}
  {{include 'web2py_ajax.html'}}
{{end}}

<!-- code after navigation -->
{{block body}}
<!--
<div id="welcome_text">
  <h1 style="font-size:24px">Welcome</h1>
  <p>This club was started to help competitive, experienced players find other people to hit with and grow as players.</p>
  <p>We are a competitive co-ed team. We practice Monday - Friday at 5:30 at the west field house courts. We travel to tournaments through out the quarter. We  have parties/dinners throught out the year aswell!!</p>
</div>
-->
<div id="body_container">
  <div id="post">
    <img id="image_homepage" src="{{=URL(r=request,c='static/images',f='UCSC_Club_Sectionals.jpg')}}"/>
  </div>

  <div id="tournaments">
    <div id="tournament_title">
      <p id="tournament_text">Tournaments Fall 2013</p>
    </div>   
    <img id="tournament_image" src="{{=URL(r=request,c='static/images',f='TOC_Tournament_Scheadule.png')}}"/>
  </div>

</div>
{{end}}