/*This is the css for the index(home) page of the site*/
#header {
	height:150px;
	background-color: #00458c;
	text-align: center;
}

#image_homepage {
	height: 400px;
	width: 600px;
	padding: 0px;
	margin-left: 30px;
	border: 9px solid gray;

}
#body_container {
	height:850px;
}
#welcome_text {
	float: left;
  margin: 0;
  width: 29%;
  height: 300px;
  border: solid #FBE05D;
  border-bottom: 1% solid #FBE05D; 
  border-top: 1% solid #FBE05D;
}
#post {
	float: left;
	margin-left: 11px;
  margin: 0;
}

/*tournaments homepage display*/
#tournaments{
	float: right;
  margin: 0;
  width: 300px;
  height: 400px;
  border-right: 30px solid white;
}

#tournament_title{
	font-family: Verdana, sans-serif;
	background: #f4f4f4;
	color: #5d5d5d;
	text-shadow: 0 1px 0 #FFFFFF;
	height: 30px;
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	border-left: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
	line-height: 30px;
	font-size: 15px;
	text-align: left;
}
#tournament_image{
	margin-top: 15px;
	width: 300px;
	height: 370px;
}
#tournament_text{
	margin-top: 0px;
	margin-left: 5px;
}
/******************************/

