/* this is css for my_layout.html which is in every page */
/* style USCS page logo */

/* Header CSS */

#body{
  background-color: #eaeaea;
  font-family: Verdana, sans-serif;
  height: 100%;
}
#header_container {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  -moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px#888;
  box-shadow: 0 0 10px 10px #888;
}

#header {
	height:150px;
	background-color: #00458c;
	text-align: center;
}
#title1 {
	color: #FBE05D;
	font-size: 50px;
	position:relative; top: 0px;
}
#title2 {
	color: #FBE05D;
	font-size: 50px;
	position:relative; bottom: 35px;
}
/*************************/


/* Footer CSS */
#footer_container {
  width:1024px;
  height:50px;
  position:static;
  bottom:0;
  background: #00458c;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #FBE05D;
}

#footer_links li{
  display: inline-block;
  padding: 15px 15px;
  color: #069;

}
#footer_links li a{
  color: #FBE05D;
}
/**********************/

/* Begin Navigation Bar Styling */
#nav {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc; 
  border-top: 1px solid #ccc; 
}
#nav li {
  float: left; 
}
#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #069;
  border-right: 1px solid #ccc; 
}
#nav li a:hover {
  color: #c00;
  background-color: #fff; }
#log  {
  float: right !important;
}
   /* End navigation bar styling. */